- content_for :secondary_navbar do
  = render "shared/navbars/profile"

.container
  .row
    .col-xs-12
      %h3= link_to  "Создать Рекламный Блок", new_dashboard_partner_path, class: "btn btn-warning"
      %br/
      %table.table.table-striped.table-condensed.table-bordered
        %thead.text-center
          %tr
            %td Название
            %td Статус
            %td Начало
            %td Активен до
            %td Позиция
            %td Штат
            %td Страница
            %td
        %tbody
          = render @partners

  .row
    .col-xs-12
      = render "shared/pagination", records: @partners
