- content_for :secondary_navbar do
  = render "shared/navbars/profile"

.container
  .row
    .col-xs-12.col-md-8
      = render "form"

  %br/
  .row
    .col-xs-12.col-md-8
      %p
        %strong Название
        служит только для идентификации вами. Никто кроме вас его не видит.
      %p
        %strong Ссылка
        \- адрес, по которому перейдет пользователь в случае нажатия на ваш банер.
        Ссылка должна содержать полный адрес, включая протокол, например
        %strong http://www.ezpoisk.com
      %p
        %strong Страница.
        Страница на которой будет показан ваш банер.
        Например, если вы выбираете “Домашняя”, ваш банер будет показываться
        только на домашней странице.
      %p
        %strong Позиция.
        На всех страницах, за исключением домашней, существуют 3 позиции для
        размещения банера: сверху, сбоку и снизу. На домашней, только верхняя.
        Вы можете выбрать где вы хотите его разместить. Это сделано для более
        лучшего отображения картинки.
      %p
        %strong Штат.
        Ваш банер будет показан только пользователям из данного штата.

      %p
        %strong Бенер -
        используемая картинка.  Каждая позиция требует банер определенного размера:
        %ol
          %li Вверху:  1170px x 160px
          %li Справа:   420px x 160px
          %li Внизу:   680px x 160px

      %br/
      %h4 Примечания
      %ul
        %li
          Рекламные блоки не поддаются редактированию. Если вы совершили ошибку,
          создайте новый рекламный блок, а ошибочный удалите.
        %li
          Так как мы уверены, что наши пользователи с уважением относятся друг
          к другу и не станут нарушать общепринятые нормы поведения, размещение
          банеров на сайте происходит автоматически, то есть, мы не проверяем
          содержание рекламных блоков. Поэтому  администрация оставляет за собой
          право удалить банер по своему усмотрению, если посчитает нужным.
          Деньги при этом не будут возвращены.
        %li
          Созданный банер не показывается пользователям сразу.
          Вам нужно будет его активировать, то есть оплатить.
          Оплата производится в адрес EZPOISK CORP.
          После совершения платежа, на вашу почту (#{current_user.email})
          придет соответсвующий чек об оплате. При желании, вы можете использовать
          его в документах своей компании.

      %p
        Если у вас возникнут какие-либо вопросы, трудности или пожелания,
        пишите нам через чат в правом нижнем углу, либо на ez@ezpoisk.com
