%ul.list-group
  %li.list-group-item
    %a{"aria-controls" => "editAnswer-#{answer.id}", "aria-expanded" => "false",
      "data-toggle" => "collapse", :href => "#editAnswer-#{answer.id}", :role => "button"}
      Редактировать
  %li.list-group-item
    = link_to 'Удалить', answer_path(answer), method: :delete, data: { confirm: I18n.t(:confirm) }
