= bootstrap_form_for @question do |f|
  .field
    = f.text_field :title, label: "Ваш вопрос"
  .field
    = f.text_area :text, label: "Подробности", class: "summernote"

  .actions
    = f.submit 'Сохранить', class: "btn btn-success btn-block"
