%h3
  = link_to new_question_answer_path(@question) do
    .fa.fa-pencil
    Можете ответить на этот вопрос?
%br/
.col-xs-12.white-block
  .panel.panel-default
    .panel-heading
      %strong Что такое Ezanswer ?
    .panel-body
      &emsp; Ezanswer - это плод трудов всего комьюнити. Каждый может спрашивать
      обо всем, что его волнует и получать качественные ответы.
      Не существует ограничений по вопросам, ответам или чему-либо еще.
      Если вы разбираетесь в вопросе,
      %strong= link_to "добавьте свой ответ.", new_question_answer_path(@question)
      Мы надеемся, что общими усилиями, мы сможем создать источник
      качественной, надежной информации. Источник, который будет
      полезен всем нам.

  .panel.panel-default
    .panel-heading
      %strong Как это работает ?
    .panel-body
      &emsp; Все кто отвечают и читают ответы могут за них голосовать и оставлять
      свои комментарии. Таким образом, качество информации оценивается всеми
      нами. Более качественные (соответсвующие действительности )
      ответы поднимаются вверх, другие, напротив, опускаются ниже.
      Таким образом, с течением времени - объем информации увеличивается,
      ее качество улучшается, и не нужно листать  десятки и сотни страниц в
      поисках полезного ответа.

  .panel.panel-default
    .panel-heading
      %strong Зачем это нужно ?
    .panel-body
      &emsp; Наша цель не просто собрать множество статей воедино, не просто сделать
      форум, где все смогут высказать свое мнение. Наша цель -  создать место,
      где мы можем получать ответы от компетентных людей.  Здесь профессионалы
      своего дела будут отвечать на вопросы, в которых у них есть опыт.
      Так, если ваш вопрос касается иммиграции или закона, здесь вы можете
      получить ответ не от друга или товарища, а от  адвоката - действительно
      компетентного специалиста, мнению которого вы можете доверять.
      Если же это вопрос о недвижимости, не него знает ответ риэлтор,
      о здоровье - врач. Таким образом у нас получится собрать не просто
      большой объем данных, у нас получится собрать исключительно
      качественные данные.

  .panel.panel-default
    .panel-heading
      %strong Дополнительный бонус !
    .panel-body
      &emsp; Помимо очевидной пользы для комьюнити, помощи людям, это может
      послужить хорошим способом для представителей различных услуг
      рассказать о себе. Отвечая на разнообразные вопросы вы даете
      нам всем понять, что вы знаете свое ремесло, в бизнесе уже много лет,
      а самое главное - вам можно доверять. Так или иначе, в
      %strong= link_to "панели управления", edit_user_registration_path
      вы можете указать свое имя, род ваших занятий, а также указать свою
      персональную страницу, на случай если читатель захочет с вами связаться.

  %p
    Помогайте другим и всего вам доброго !
    %br/
    С уважением,
    %br/
    Команда
    %strong= link_to "ezpoisk", about_path
