.row
  = link_to 'Задать вопрос', new_question_path, class: 'btn btn-success'
.row
  / similar posts
  .hidden-xs.hidden-sm.col-md-2

  .col-md-8.white-block.padding-bottom-10
    = render @questions

  / partners
  .hidden-xs.hidden-sm.col-md-2

.row
  .col-xs-12
    = render "shared/pagination", records: @questions
