.hidden-xs.white-block
  %ul.nav.nav-tabs
    %li
      = link_to t('agencies'),
                jobs_job_agencies_path,
                class: "#{'active' if cp(jobs_job_agencies_path)}"
    %li
      = link_to "Работа",
                jobs_jobs_path,
                class: "#{'active' if cp(jobs_jobs_path)}"
%br/
