/ Button trigger modal
.hidden-xs
  %a.btn.btn-primary{"data-target" => "#serviceSearch", "data-toggle" => "modal", :role => "button"}
    Настроить фильтр
.visible-xs.pull-right
  %a.mobile-btn{"data-target" => "#serviceSearch", "data-toggle" => "modal", :role => "button"}
    Настроить фильтр
