<%= render 'real_estate/re_privates/re_private', re_private: @re_private %>
<br>
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#foo" aria-controls="foo"
                     role="tab" data-toggle="tab">Карта</a>
    </li>
    <li role="presentation">
      <a href="#photo" aria-controls="photo"
                       role="tab" data-toggle="tab">Фотографии</a>
    </li>
    <li role="presentation">
      <a href="#description" aria-controls="description"
                             role="tab" data-toggle="tab">Описание</a>
    </li>
    <li role="presentation">
      <a href="#contacts" aria-controls="messages"
                          role="tab" data-toggle="tab">Контакты</a>
    </li>
  </ul>
  <!-- Nav tabs -->

  <hr>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane fade in active" id="foo">
      {{partial 'partials/map'}}
    </div>


  <% #TODO: refactor %>

    <div role="tabpanel" class="tab-pane fade" id="photo">
      <div class="row">
        <!-- tumbnails -->
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            {{#each images as |image|}}
            <a href="" {{action 'setActive' image.url}}>
              <img src="{{image.url}}" alt="apartments for rent/sale in usa" class="my-img-thumb">
            </a>
            {{/each}}
          </div>
        </div>
        <!-- tumbnails -->
        <hr>

        <!-- active image -->
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            {{#if active}}
            <img src="{{active}}" alt="Active Image" class="img-responsive center-block">
            {{else}}
            <img src="/images/photo_default.jpg" alt="Default image" class="img-responsive center-block">
            {{/if}}
          </div>
        </div>
        <!-- active image -->
      </div>
    </div>





    <div role="tabpanel" class="tab-pane fade" id="description">
      {{post-description description=model.description}}
    </div>

    <div role="tabpanel" class="tab-pane fade" id="contacts">
      {{contacts-tab model=model}}
    </div>

  </div>
</div>
