.col-md-12
  %h4 Пажалуйста, оставьте ваш отзыв
  %hr
  .col-md-10.col-md-offset-1
    = bootstrap_form_for Message.new, :html => {:class => "form-horizontal"} do |f|
      .form-group
        .col-lg-6.col-md-6
          = f.text_area :body, label: "Сообщение", rows: 10, column: 200
      .form-group
        = f.submit class: "btn btn-default", value: 'Оставить отзыв'

    %hr
      .row
        %h4 Мои контакты
        %p
          email
          %strong andrew.motinga@gmail.com
        %p
          phone
          %strong 1(929) 293 5385
      %br
        %br
          = link_to 'Вернуться на главную', root_path
