= title("#{@user.name} | Ответы")
= desc(strip_tags(@user.about).truncate(160))

= og_type("article")
= og_url(profile_answers_url(@user))
= og_image(@user.cover.url(:large))

- content_for :profile_cover, render("profiles/cover")
- content_for :sidebar, render("profiles/sidebar")

= render("shared/filters", id: "profiles")

.col-xs-12 data-id="listings"
  - @answers.each do |answer|
    = render "profiles/answer", answer: answer

= render "shared/pagination", records: @answers
