- content_for :header, render("profiles/header")
- content_for :sidebar, render("profiles/sidebar")
- content_for :right, render("profiles/right")

- @posts.each do |p|
  = render "posts/post", post: p
