/todo use one partial for map
- if @user.street?
  .white-block
    .panel.panel-default
      .panel-body.map
        #map.google-maps

  javascript:
    $(document).ready(function(){
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(#{raw @user.map_marker.to_json});
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
      });
    });
