%h1.text-center Strip html tags
.col-xs-6
  = text_area_tag :strip_from, nil, placeholder: "your text here", class: "form-control"
.col-xs-6
  = text_area_tag :strip_result, nil, placeholder: "Text witout HTML tags", class: "form-control"

:javascript
  $(document).ready(function(){
    $("#strip_from").bind('input propertychange', function() {
      var text = $(this).val();
      var stripped_text = text.replace(/(<([^>]+)>)/ig,"");
      $("#strip_result").html(stripped_text);
    })
  })

:css
  #strip_from, #strip_result { width: 100%; min-height: 600px; }

