- content_for(:side) do
  = render "shared/show/contacts", record: record

.col-xs-12
  = render "dashboard/shared/company", record: record

- if record.description.present?
  .col-xs-12.white-block
    = sanitize record.description

.col-xs-12
  = render "shared/show/map", record: record
