.row
  .hidden-xs.white-block
    #map.google-maps

  javascript:
    $(document).ready(function(){
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(#{raw record.map_marker.to_json});
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(12);
      });
    });

script src="//maps.google.com/maps/api/js?v=3.24&libraries=geometry&key=#{ENV["GOOGLE_MAPS_API_KEY"]}" type="text/javascript"
script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"
