.row
  .col-lg-10.col-lg-offset-1
    %div{ style: 'width: 600px;' }
      #map{ style: 'width: 600px; height: 400px;' }

:javascript
  $(document).ready(function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(#{raw record.map_marker.to_json});
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
    });
  });


%script{ :src => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", type: "text/javascript" }
%script{ :src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript" }
