- if record.street?
  .hidden-xs.hidden-sm style="width: 100%;"
     #map style='width: 100%; height: 200px;'

  javascript:
    $(document).ready(function(){
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(#{raw record.map_marker.to_json});
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(8);
      });
    });
