= bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  .row
    .col-md-12
      = f.password_field :password, :autocomplete => "off", label: "Новый пароль"
      = f.password_field :current_password, label: "Старый пароль"
      = f.submit t('.update', :default => "Обновить"), class: "btn btn-success"
