%p
  Привет
  %strong #{@user.email}

%p Надеюсь у вас все хорошо.

%p
  Спасибо, что вы решили воспользоваться сайтом EZPOISK.
  %br/
  Мы стремимся улучшить сайт, чтобы ВСЕ МЫ могли им пользоваться.
  %br/
  На данный момент качество сайта прямо зависит от количества пользователей,
  %br/
  ведь вы наверняка заинтересованы, чтобы здесь было больше объявлений,
  %br/
  когда они вам нужны, не правда ли?

%p
  Mы не просто строим сайт - мы стремимся создать комьюнити и я прошу вашей помощи.
  %br/
  Есть несолько не трудных вещей, которые вы можете для нас сделать:
  %ul
    %li
      Если у вас есть идеи о том как сделать сайт лучше, пишите нам - мы строим сайт для вас в первую очередь, поэтому ваше мнение - приоритет.
      %br/
      Мы с радостью выслушаем вас и сделаем все, что в наших силах.
    %li Расскажите о нас друзьям
    %li Если найдете полезное объявление, может вам будет не трудно поделиться им в социальных сетях
    %li Может вы прочитали что-нибудь интересное - поделитесь этим. Огромное количество посетителей узнает о нас через Facebook, Google и Vkontakte
    %li Присодиняйтесь к нашим группам - вместе мы банда :)
    %li
      Подключайтесь в #{link_to "EzAnswer", "https://www.ezpoisk.com/ezanswer"}. Идея - собрать огромное количество часто задаваемых вопросов с качественными ответами.
      %br/
      Eсли вы знаете что-то, чем хотите поделиться, заходите. Тут всегда есть на что ответить и что почитать.

%p
  Подробнее о том что мы делаем и как мы это делаем, а также к чему стремимся, вы можете глянуть
  = link_to " тут.", "https://www.ezpoisk.com/about", target: "_blank"

%p
  Мы бы очень хотели, что бы вы стали частью нашего с вами нового комьюнити.
  %br/
  Надеюсь вместе мы сможем построить хороший онлайн ресурс - куда мы в любой момент сможем обратиться за информацией и помощью.

%p
  Спасибо за ваше время.
  %br/
  С уважением, команда #{link_to "ezpoisk.com", "https://www.ezpoisk.com"}
