- breadcrumb :new_dashboard_service_path, current_user
= title("Подать бесплатное объявление в раздел Услуги - ezpoisk")
= desc("Разместить бесплатное ообъявление без регистрации. Реклама. Все виды услуг в США. Найти сервис, рекламировать бизнес, получить помощь.")

= render 'dashboard/shared/new'
