.home-index {
  // links
  .links {
    margin-top: $large-spacing;
    margin-bottom: $large-spacing * 2;
    // border: thin solid black;

    .list-group {
      margin-bottom: 0;
    }

    .list-group-item {
      background-color: transparent;
      border: 0;
    }

    .fa {
      border-radius: 50%;
      border: thin solid $gray;
      color: $orange;
      padding: $base-spacing;;
    }

    .first {
      font-size: 16px;
    }
  }

  // listings
  .listings-section {
    padding-top: $large-spacing;
    padding-bottom: $large-spacing;
    background-color: $white;
  }

  .listings {
    display: flex;
    flex-wrap: wrap;
  }

  .mdl-card {
    flex: 1 1 200px;
    height: 250px;
    margin: 5px;
  }

  // answers
  .answers-section {
    background-color: $background;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .about {
    padding-bottom: $large-spacing;
    padding-top: $large-spacing;
  }
}
