.listings {
  .listings-container {
    padding-top: $large-spacing;
    padding-bottom: $large-spacing;
    margin-bottom: $large-spacing;
    background-color: $white;
  }

  // search
  .search-toggle {
    margin: $base-spacing;
  }

  .search {
    background: $white;
    padding: $base-spacing;

    @media(max-width: $screen-sm) {
      display: none;
    }

    select,
    input {
      margin-bottom: 5px;
    }
  }
  .select2-container {
    margin-bottom: 5px;
  }
}

.listings-edit,
.listings-update {
  .edit-form-images {
    display: flex;
    flex-wrap: wrap;

    .thumbnail {
      flex-grow: 1;
      margin: 5px;
    }
  }
}

.empty-message {
  background-color: $white;
  min-height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-container {
  background-color: $white;
  padding: $large-spacing;
  margin-bottom: $large-spacing;

  h4,
  .heading {
    margin-left: -$base-spacing;
  }

  label {
    font-weight: 400;
  }
}

