.listings {
  .listings-container {
    padding-top: $large-spacing;
    padding-bottom: $large-spacing;
    margin-bottom: $large-spacing;
    background-color: $white;
  }

  // search
  .search-toggle {
    margin: $base-spacing;
  }

  .search {
    background: $background;
    padding-bottom: $base-spacing;

    @media(max-width: $screen-sm) {
      display: none;
    }

    select,
    input {
      margin-bottom: 5px;
    }
  }
  .select2-container {
    margin-bottom: 5px;
  }
}
