.posts-new,
.posts-edit {
  .mdl-textfield__input {
    width: 400px;
  }
}

.posts-show {
  .post {
    .title {
      font-size: 32px;
    }

    .social-share-buttons,
    .vote_links {
      display: inline-block;
    }

    .social-share-buttons {
      margin-right: 5px;
    }
  }
}
