.cover {
  margin-bottom: 30px;

  .left {
    overflow: hidden;
    padding: 0;
    position: relative;

    .background {
      background-position: center center;
      filter: blur(13px);
      transform: scale(1.1);
    }

    .content {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      img {
        margin-bottom: 15px;
        margin-top: 50px;
        max-width: 100px;
      }

      .name {
        color: $white;
        font-family: Roboto, arial, sans-serif;
        font-size: 18px;
      }

      .views {
        color: $white;
        font-family: Roboto, arial, sans-serif;
        font-size: 14px;
      }
    }
  }

  .right-side {
    padding: 0;
  }

  .btn-ez {
    color: $white;
    margin: 10px;
  }

  .rating-star {
    cursor: pointer;
  }

  @media(max-width: 767px) {
    .left {
      overflow: visible;
      z-index: 1;

      .content img {
        margin-bottom: 10px;
        margin-top: 10px;
        width: 50px;
      }
    }

    .right-side {
      img {
        filter: blur(5px);
      }
    }
  }

  @media(min-width: $screen-sm) {
    .left {
      .background { height: 250px; }

      .content img {
        margin-top: 10px;
      }
    }
  }

  @media(min-width: $screen-md) {
    .left .background {
      height: 323px;
    }
  }

  @media(min-width: $screen-lg) {
    .left .background {
      height: 390px;
    }
  }
}

// user form
.user-email {
  .form-group { margin-bottom: 0; }
  .checkbox { margin-top: 0; }
}

// users contacts
.users-show {
  .social {
    .fa {
      margin: 0 5px;
    }
  }
}
