.users {
  .header {
    .name { color: $black; }
  }
}


.karma-points {
  display: block;
  font-size: 21px;
  font-weight: 200;
  color: #0084bf;
}


@media(max-width: $screen-sm) {
  .users {
    .header {
      .name-container {
        text-align: center;
      }
    }
  }
}
