- breadcrumb :new_dashboard_sale_path, current_user || 1
= title("Подать бесплатное объявление о продаже - ezpoisk")
= desc("Разместить обьявление без регистрации: Нью Йорк, Сан Франциско, Лос Анджелес, Майами. Распродажи")

= render 'dashboard/shared/new'
