<h4>Недвижимость</h4>
<ul class="nav nav-sidebar">
  <li><%= link_to "Агенства", dashboard_re_agencies_path %></li>
  <li><%= link_to "Частная", dashboard_re_privates_path %></li>
  <li><%= link_to "Коммерческая", dashboard_re_commercials_path %></li>
</ul>

<ul class="nav nav-sidebar">
  <!-- <li><a href="">Nav item</a></li> -->
  <!-- <li><a href="">Nav item again</a></li> -->
</ul>
<ul class="nav nav-sidebar">
  <!-- <li><a href="">Nav item again</a></li> -->
  <!-- <li><a href="">One more nav</a></li> -->
</ul>
