<ul class="nav nav-sidebar">

<li><%= link_to "Re Agencies", dashboard_re_agencies_path %></li>
<li><%= link_to "Re Privates", dashboard_re_privates_path %></li>
<li><a href="/">Analytics</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="">Nav item</a></li>
  <li><a href="">Nav item again</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="">Nav item again</a></li>
  <li><a href="">One more nav</a></li>
</ul>
