%section#services
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Кто мы?
        %h3.section-subheading.text-muted Комьюнити русскоговрящих людей в Америке
    .row.text-center
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-comments.fa-stack-1x.fa-inverse
        %h4.service-heading Объявления
        %p.text-muted Изи поиск сделан для того, чтобы мы могли с легкостью находить друг дуга, подавать и искать объявления, узнавать о самых свежих событиях из жизни наших людей в америке
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-laptop.fa-stack-1x.fa-inverse
        %h4.service-heading Комьюнити
        %p.text-muted Чтобы объединить комьюнити русскоговорящих людей в США, создать информационный портал с огромным количеством самой полезной информации, которую очень легко находить
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-search.fa-stack-1x.fa-inverse
        %h4.service-heading Реклама
        %p.text-muted Помогать нашим малым и средним бизнесам продвигать свои услуги, развиваться. Мы стремимся помочь легко находить нужный, качественный сервис в считанные минуты
    %br/
    .row.text-center
      %a.page-scroll.btn.btn-xl{:href => "#portfolio"} О сайте
