<% subs = @subcategories.map { |sub| display_option(sub) } %>

$("#listing_subcategory").html("<%= j(options_for_select(subs)) %>");
$("#listing_subcategory")
  .prepend("<option value='' selected='selected'></option>").val('');
