.empty-message {
  background-color: $white;
  min-height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-container {
  background-color: $white;
  padding: $large-spacing;
  margin-bottom: $large-spacing;

  h4,
  .heading {
    margin-left: -$base-spacing;
  }

  label {
    font-weight: 400;
  }
}

