$("#listing_category").html("<%= j(options_for_select(ru(@categories))) %>");
$("#listing_subcategory").html("<%= j(options_for_select(ru(@subcategories))) %>");

<% if @kind == "service" %>
  $("#listing_category")
    .prepend("<option value='' selected='selected'></option>").val('');
<% end %>
