<!-- Button trigger modal -->
<button role="button"
        class="btn btn-success"
        data-toggle="modal"
        data-target="#new">
  Подать Обьявление
</button>

<!-- Modal -->
<div class="modal fade"
     id="new"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title" id="myModalLabel">
          Подать новое обьявление в раздел:
        </h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="list-group">
              <!-- <a href="/dashboard/news/new" class="list&#45;group&#45;item">Новости</a> -->
              <a href="/dashboard/re/agencies/new" class="list-group-item">Агенство Недвижимости</a>
              <a href="/dashboard/re/private/new" class="list-group-item">Частная недвижимость</a>
              <a href="/dashboard/re/commercial/new" class="list-group-item">Коммерческая недвижимость</a>
              <a href="/dashboard/job/agencies/new" class="list-group-item">Агенство по трудоустройству</a>
              <a href="/dashboard/job/jobs/new" class="list-group-item">Работа</a>
              <a href="/dashboard/services/new" class="list-group-item">Услуги</a>
              <a href="/dashboard/items/new" class="list-group-item">Продается</a>
            </div>

            <br>
            <br>
            <div class="list-group">
              <a href="/contacts/new" class="list-group-item">Пожалуйста, оставьте отзыв</a>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                aria-label="Close">
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>
