.col-md-11.col-md-offset-1
  - @post.side_posts.each do |post|
    .post.white-block
      = link_to news_path(post) do
        = image_tag post.logo_url, class: "image-responsive"
        %h2.news-posts-title= post.title

  - if @post.side_posts.size < 3
    = render "news/questions"
