<div class="col-lg-5 col-md-5 col-sm-5 ">
  {{#link-to 'agencies'}}
  <img class="img-responsive center-block"  src="/images/re_agency.jpg" alt="Real Estate logo image">
  {{/link-to}}
</div>
<div class="col-lg-7 col-md-7 col-sm-7">
  <h3 class="text-center">Агенства недвижимости</h3>
  <p>
    Любая деятельность, неизвестная нам, сперва кажется очень сложной, но если
    в ней разобраться и уточнить все нюансы, все оказывается достаточно просто.
    Доверяясь <strong>Агенству недвижимости</strong> вы сэкономите время,
    зачастую получите лучшую цену, а так же быстрый доступ к изменчивому рынку.
    А самое главное  - обезопасите сделку.
  </p>
  <p>{{link-to 'Перейти к Агенствам Недвижимости »' 'agencies'}}</p>
</div>
