<div class="col-lg-5 col-md-5 col-sm-5 ">
<a href="/real_estate/posts" target="blank">
  <img class="center-block img-responsive" src="/images/blog.jpg" alt="Blog category image log">
</a>
</div>
<div class="col-lg-7 col-md-7 col-sm-7">
  <h3 class="text-center">Полезные советы</h3>
  <p>
    Мы работаем над созаднием блога, набора полезных статей, в которых вы сможете
    найти нужные ответы а так же советы профессианалов. Мы постарамеся поделиться
    всем наколпенным нами опытом сдачи, аренды и покупики недвижимости, в надежде
    хотя бы немного облегчить этот процесс для нас всех.
  </p>
  <br>
  <p><a href="/real_estate/posts" target="blank"> Перейти в Блог » </a></p>
</div>
