<div class="col-lg-5 col-md-5 col-sm-5 ">
{{#link-to 'commercial'}}
<img class="center-block img-responsive" src="/images/commercial.jpg" alt="commercial category image log">
{{/link-to}}
</div>
<div class="col-lg-7 col-md-7 col-sm-7">
  <h3 class="text-center">Коммерческая Недвижимость</h3>
  <p>
    Вряд ли в поисках дома для вашего дела вы обойдетесь без помощи профессионалов в
    лице риэлтора, однако всегда полезно быть в курсе нынешного состояния дел
    на рынке недвижимости. Здесь вы всегда сможете следить за актульаными предложениями
    и выбрать подходящий под ваши уникальные требования вариант.
  </p>
  <p>{{link-to 'Перейти в раздел "Коммерческая" »' 'commercial'}}</p>
</div>
