<div class="col-lg-5 col-md-5 col-sm-5 ">
{{#link-to 'openhouses'}}
<img class="center-block img-responsive" src="/images/openhouse.jpg" alt="openhouse category image log">
{{/link-to}}
</div>
<div class="col-lg-7 col-md-7 col-sm-7">
  <h3 class="text-center">День открытых дверей</h3>
  <p>
    <strong>День открытых дверей</strong> (Open house)  - отличная возможность
    для продавца встретиться с потенциальными покупателями, показать помещение
    в наиболее приятном свете. Для покупателя же - это хорошая возможность узанть
    побольше, получить ответы на все интерусющие вас вопросы.
  </p>
  <p>{{link-to 'Перейти в раздел "Open house" »' 'openhouses'}}</p>
</div>
