<div class="col-lg-5 col-md-5 col-sm-5 ">
{{#link-to 'private'}}
<img class="center-block img-responsive" src="/images/private.jpg" alt="Private category image log">
{{/link-to}}
</div>
<div class="col-lg-7 col-md-7 col-sm-7">
  <h3 class="text-center">Частная Недвижимость</h3>
  <p> Поиск <strong>недвижимости</strong> порой бывает достаточно трудной задачей,
    забирающей много времени и сил. Мы стараемся облегчить эту задачу,
    активно улучшая фильтры и способы поиска. Если у вас есть идеи о том,
    как улучшить этот проект, пожалуйста пишите нам. Мы надеемся, что вместе
    мы сможем сделать качественный и полезный для нас всех интсрумент. </p>
  <p>{{link-to 'Перейти в раздел "Частная" »' 'private'}}</p>
</div>
