.fixed
  %ul.nav.left-sidebar.horoscope-sidebar.grey-block
    - HOROSCOPE_CATEGORIES.each do |title|
      %li{:class => ("active" if cp(horoscope_index_path(title: title)))}
        = link_to title, horoscope_index_path(title: title)
