$vk: #45668e;
$google: rgb(234, 67, 53);
$facebook: #3B5998;

$blue: #029BE0;
$orange: #E07A01;

$blue0: rgba(186, 186, 255, 0.05);
$brightblue: #00BBFF;
$darkblue: #28629C;

$grey0: #f9f9f9;
$grey1: #eee;
$grey2: #DDD;
$grey3: #555;
$grey4: #333;
