$vk: #45668e;
$google: rgb(234, 67, 53);
$facebook: #3b5998;

$blue: #029be0;
$orange: #e07a01;
$red: #f00;
$white: #fff;
$green: #008000;
$black: #000;
$purple: #800080;

$blue0: rgba(186, 186, 255, .05);
$link-blue: #337ab7;
$brightblue: #0bf;
$darkblue: #28629c;

$grey0: #f9f9f9;
$lightgrey: #d3d3d3;
$body_background_color: #edeef0;
$footer_background_color: #ddd;
$grey3: #555;
$grey4: #333;

$capture_background: rgba(0, 0, 0, 0.6);
