$vk: #45668e;
$google: rgb(234, 67, 53);
$facebook: #3b5998;

$blue: #029be0;
$orange: #e07a01;
$red: #f00;
$white: #fff;
$green: #008000;
$black: #000;
$purple: #800080;

$lightblue: rgba(186, 186, 255, .05);
$darkblue: #42648b;

$lightgrey: #d3d3d3;
$body-bg: #edeef0;
$grey: #ccc;
$darkgrey: #333;
