.btn-big {
  padding: 15px 60px;
}

.fixed {
  position: fixed;
}

.upcase {
  text-transform: uppercase;
}

a.active {
  background: $lightgrey;
}

.grey-block {
  background-color: $lightergrey;
  border-radius: 4px;
}

.carousel-image {
  width: auto;
  height: 320px;
  max-height: 320px;
}

.slider-thumb {
  width: auto;
  height: 50px;
  max-height: 50px;
  margin-bottom: 5px;
}

.side-post {
  background-color: $lightergrey;
  text-transform: lowercase;
  margin-bottom: 10px;
  .text {
    padding: 5px;
  }
}

li.active, li:hover {
  background-color: $lightgrey;
}

.left-sidebar > li:hover {
  background-color: $lightgrey;
}

.left-sidebar > li {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  a {
    display: inline;
  }
  span.glyphicon, .fa {
    padding-right: 5px;
    color: black;
  }
}

.nav-tabs > li > a {
  margin-right: 0px;
}

#feedback a{
  display:block;
  position:fixed;
  top: 400px;
  right: -52px;
  padding: 3px 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: $blue;
  transform: rotate(270deg);
  transform-origin: left top 0;
  color: white;
  text-decoration: none;
}
#feedback a:hover{
  background-color: $darkblue;
}
