.red {
  background-color: red;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.gray {
  background-color: gray;
}

.purple {
  background-color: purple;
}

.blue {
  background-color: blue;
}

.padding-vertical-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-0 {
  padding: 0px
}
.padding-top-10 {
  padding-top: 10px;
}

hr.black-line {
  border-top: 5px solid black;
}
