.red { background-color: red; }
.white { background-color: white; }
.black { background-color: black; }
.gray { background-color: gray; }
.green { background-color: green; }
.purple { background-color: purple; }
.light-blue { background-color: $blue0; }
.facebook-blue-bg { background-color: #3B5998 !important; }
.google-red-bg { background-color: rgb(234, 67, 53) !important; }

.padding-10 { padding: 10px; }
.padding-top-10 { padding-top: 10px; }
.margin-bottom-0 { margin-bottom: 0px; }
hr.black-line { border-top: 5px solid black; }
.green-text { color: green; }
.red-text { color: red; }
