.red {
  background-color: red;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.gray {
  background-color: gray;
}

.purple {
  background-color: purple;
}

.padding-10 {
  padding: 10px;
}

hr.black-line {
  border-top: 5px solid black;
}
