html,
body {
  padding-top: 35px;
  height: 100%;
  background-color: $grey0;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -200px;
}

#push,
#footer {
  height: 200px;
}

#footer {
  margin-top: 20px;
  background-color: $grey1;
  a {
    text-decoration: none;
    color: $grey2;
    padding: 8px;
  }
  li {
    padding: 8px;
  }
  a:hover {
    background-color: $grey1;
  }
}
