.post-devider {
  margin-bottom: 5px;
  margin-top: 0;
}

.user-hidden {
  opacity: .2;
}

.listing {
  position: relative;

  a {
    color: $grey4;
    text-decoration: none;
  }

  .capture {
    background-color: $capture_background;
    bottom: 0;
    color: $white;
    left: 0;
    margin: 0;
    padding: 5px 10px;
    position: absolute;
  }

  .capture-desktop {
    width: 100%;
  }

  .title {
    margin: 0 0 3px;
    overflow: hidden;
  }

  p {
    overflow: hidden;
  }

  .state-city {
    display: block;
    font-weight: bold;
  }

  .logo {
    padding: 0;
  }
}

.google-maps {
  height: 0;
  overflow: hidden;
  padding-bottom: 75%; // This is the aspect ratio
  position: relative;
}

.google-maps iframe {
  height: 100% !important;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% !important;
}

.contacts {
  margin-bottom: 10px;

  .email {
    overflow-x: scroll;
  }
}
.author { margin: 10px; }

.favor-links .btn-sm {
  border: 0;
}
