.navbar-main {
  margin-bottom: 0px;
  background-color: white;
}

.navbar-main .navbar-brand {
  float: left;
  font-size: 25px;
  font-family: "Lucida Grande", Times, serif;
  font-weight: 900;
}

.navbar-nav > li > a {
  color: $link-blue;
  font-weight: bold;
}
