.navbar-main {
  background-color: $white;
  margin-bottom: 0;

  .navbar-brand {
    float: left;
    font-family: "Lucida Grande", Times, serif;
    font-size: 25px;
    font-weight: 900;
  }

  .avatar {
    // bottom(5) + top(5) + img(40) = navbar height(50)
    padding-bottom: 5px;
    padding-top: 5px;


    img {
      display: inline;
      margin-right: 10px;
      max-height: 40px;
    }
  }
}

.navbar-nav > li > a,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: $white;
  color: $link-blue;
  font-weight: bold;
}

@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){
  #navbar-search {
    width: 300px;
  }
}
@media(min-width:1200px){
  #navbar-search {
    width: 500px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: auto;
  right: 100%;
  margin-top: -1px;
}
