.post-item {
  background-color: white;
  border-bottom: 2px solid $gray;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 15px;
  h3 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

#logo {
  padding-top: 5px;
  padding-right: 0px;
  padding-left: 5px;
}

.no-fee {
  background-color: green;
  color: white;
  padding: 4px 15px 4px 15px;
}
