.user-hidden {
  opacity: 0.2;
}
.post-item {
  position: relative;
  //   width: 100%; /* for IE 6 */
  background-color: white;
  padding-bottom: 5px;
  margin-bottom: 10px;
  .capture {
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0;
    margin-left: 5px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .title { margin: 0 0 3px 0; }
}

.logo-js {
  padding: 0px;
  img {
    max-height: 150px;
  }
}
.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.post-devider {
  margin-top: 0px;
  margin-bottom: 5px;
}
#contacts {
  margin-bottom: 10px;
}
.author { margin: 10px; }
