.post-item {
  border-bottom: 2px solid $gray;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 15px;
}

#logo {
  padding-right: 0px;
  padding-left: 0px;
}

.no-fee {
  background-color: green;
  color: white;
  padding: 4px 15px 4px 15px;
}
