.post {
  background-color: white;
  border-bottom: 5px solid black;
  padding-bottom: 25px;
  // margin-bottom: 10px;
  // img {
  //   max-height: 150px;
  //   margin: 0 auto;
  // }
}
.post-type {
  background-color: lightgray;
  padding: 7px;
  .type {
    text-transform: uppercase;
    font-size: 18px;
  }
  margin-right: 10px;
}

.no-fee {
  background-color: green;
  color: white;
  padding: 4px 15px 4px 15px;
}

.post-preview {
   background-color: $lightgrey;
}

.upcase {
  text-transform: uppercase;
}
