.select2-container,
.select2-container--open {
  width: 100% !important;
}

// todo select2
// .select2-container--open .select2-dropdown--below {
//   top: 35px;
// }

.select2-container--default .select2-selection--multiple {
  border-radius: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  font-size: 18px;
  margin-right: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border-radius: 2px;
  font-size: 16px;
}
