html,
body {
  background-color: $background;
  height: 100%;
}

body {
  padding-top: 70px;
}

.page-wrap {
  margin-bottom: -120px;  // equal to footer height (inluding margin)
  min-height: 100%;

  &::after {
    content: "";
    display: block;
  }
}

footer,
.page-wrap::after {
  height: 100px;
}

.container-md {
  max-width: $screen-md;
}
