a.gray {
  color: $dark-gray;
}

// a {
//   color: $action-color;
//   text-decoration: none;
//   transition: color $base-duration $base-timing;
//
//   &:active,
//   &:focus,
//   &:hover {
//     color: $orange;
//     text-decoration: none;
//   }
// }

hr {
  border-bottom: 1px solid $gray;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
