script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
/! test
ins.adsbygoogle data-ad-client="ca-pub-1350854790289606" data-ad-format="auto" data-ad-slot="6107845775" style="display:block"
javascript:
  (adsbygoogle = window.adsbygoogle || []).push({});
