= link_to "Настроить фильтр | #{count}", "",
          class: "btn mobile-btn btn-block search-modal-trigger",
          "data-target": "##{id}", "data-toggle": :modal, role: :button, rel: "nofollow"
