<div class="row">
<div class="hidden-lg hidden-md hidden-sm">
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item"> <a href="/real_estate">Недвижимость</a></li>
      <li class="list-group-item"> <a href="/jobs">Работа</a></li>
      <li class="list-group-item"> <a href="/services">Услуги</a></li>
      <li class="list-group-item"> <a href="/items/posts">Продается</a></li>
      <li class="list-group-item"> <a href="/news">Новости</a></li>
      <li class="list-group-item"> <a href="/dashboard">Аккаунт</a></li>
    </ul>
  </div>
</div>
</div>
