.mobile-footer
  .row
    .col-xs-12.text-center
      %p
        Copyright ©
        %strong ezpoisk #{Time.now.year}

    .col-xs-12.text-center
      %p= link_to 'О компании', "/about", target: "_blank"

    - if user_signed_in?
      .col-xs-12.text-center
        = link_to main_app.destroy_user_session_path, method: :delete, class: "mobile-link" do
          Выйти
          %i.fa.fa-sign-out
