.mobile-footer
  .row
    .col-xs-12.text-center
      %p
        Copyright ©
        %strong eZpoisk #{Time.now.year}

    .col-xs-12.text-center
      %p
        %a.mobile-link{ "data-target" => "#feedback-modal", "data-toggle" => "modal", :role => "button" }
          Оставить отзыв

    - if user_signed_in?
      .col-xs-12.text-center
        = link_to main_app.destroy_user_session_path, method: :delete, class: "mobile-link" do
          Выйти
          %i.fa.fa-sign-out
