.form-group
  .col-sm-9
    %label Введите адрес
    = origin_text_field_param
  .col-sm-3
    %label радиус (миль)
    = within_text_field_param

%hr
%h5.text-center Либо выберите штат и город
.row
  .col-sm-6
    = select_tag :state_id, options_for_select(STATES, state_id), multiple: true, class: "form-control state-select"
  .visible-xs
    %br/
  .col-sm-6
    = select_tag :city_id, options_from_collection_for_select(state_cities, :id, :name, city_id), multiple: true,  class: "form-control city-select"
