.col-md-12
  %table.table.table-striped
    %thead
      %tr
        %td.users-post
          %h5 Последние посты с Форума
        %td.users-post
          %h5 Топик
        %td.users-post
          %h5 Форум
    - @homepage.forum_posts(10).each do |p|
      %tr
        -# %td.users-post= link_to p.text.truncate(30), p.link
        %td.users-post= p.text.truncate(100)
        %td.users-post= p.topic.subject
        %td.users-post= link_to p.topic.forum.name, forem.forum_path(p.topic.forum)
