.row
  %ul.pgwSlideshow
    - @homepage.main_posts(20).each do |post|
      %li
        = link_to news_path(post), target: "blank" do
          = image_tag post.image.url(:medium), alt: post.title
%br/
