.hidden-xs
  %a.btn.btn-block.btn-warning{"data-target": "#new", "data-toggle": "modal", role: "button" }
    = t(:new_post)

.visible-xs
  %a.mobile-btn{ "data-target": "#new", "data-toggle": "modal", role: "button" }
    = t(:new_post)
