<div class="row">
  <h3>Наши новости ...</h3>
  <hr class="post-devider">

  <div class="col-lg-7 col-md-7 col-sm-6">
    <%= render 'home/news/carousel' %>
  </div>

  <div class="col-lg-5 col-md-5 col-sm-6">
    <% @news_posts.each do |post| %>
      <h5 class="news-title">
        <%= link_to post.title, news_path(post) %>
      </h5>
      <hr class="post-devider">
    <% end %>
  </div>

</div>
<br>
