.row
  .col-lg-12
    = render 'home/news/carousel'
.row
  .col-lg-12.col-md-12
    - @news_posts.each do |post|
      = render "home/news/post", post: post
      %hr.post-devider/
%br/
.row
  .col-md-12.text-center
    = link_to "Читать дальше",
              news_index_path,
              class: "btn btn-default btn-large btn-big"
%br/
