<ul class="nav nav-sidebar">
  <li><a href="/real_estate"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> НЕДВИЖИМОСТЬ</a></li>
  <li><a href="/jobs/agencies"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> РАБОТА</a></li>
  <li><a href="/services/posts?category=lawers"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>  УСЛУГИ</a></li>
  <li><a href="/items/posts"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> ПРОДАЕТСЯ</a></li>
  <li><a href="/news"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> НОВОСТИ</a></li>
  <br>

  <li><a href="/dashboard"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> АККАУНТ</a></li>
  <br>
</ul>
