- content_for :left_sidebar do
  = render 'home/left_sidebar'

/ Main
= render @posts

.row
  .col-md-12.text-center
    = link_to "Читать дальше",
              news_index_path,
              class: "btn btn-default btn-large btn-big"
%br/
/ Main
