<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
<%= render 'home/sidebar/new_post_modal' %>
<br>
<br>
<%= render 'home/sidebar' %>
</div>

<!--  NEWS    -->
<div class="col-lg-9 col-md-9 col-sm-12 hidden-xs ">
  <%= render 'home/news' %>
  <%# render 'home/news_modal' %>
  <%# render 'home/posts' %>
</div>
<hr>
