%ul.nav.left-sidebar.white-block.news-sidebar
  - NEWS_CATEGORIES.keys.each do |category|
    %li
      = link_to category,
                news_index_path(category: category),
                class: "#{'active' if cp(news_index_path(category: category))}"
