- @main.each do |post|
  .padding-top-10.news-main-image
    = link_to news_path(post) do
      = image_tag post.logo_url(:large), class: "image-responsive"
      .news-main-caption.white
        %h3= post.title
    %p.news-main-caption-text= post.description
