%nav.navbar.navbar-default.secondary-navbar.white-block
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{ "aria-expanded" => "false",
                                       "data-target" => "#dashboard-nav-bar",
                                       "data-toggle" => "collapse",
                                       :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    / Collect the nav links, forms, and other content for toggling
    #dashboard-nav-bar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - NEWS_CATEGORIES.keys.each do |category|
          - if category == 'Страны'
            %li.dropdown{class: category_active?(category)}
              %a.dropdown-toggle{ "aria-expanded" => "false",
                                  "aria-haspopup" => "true",
                                  "data-toggle" => "dropdown",
                                  :role => "button"}
                = category
                %span.caret
              %ul.dropdown-menu
                - NEWS_CATEGORIES[category].each do |subcategory|
                  %li
                    = link_to subcategory.last,
                              news_index_path(category: category,
                                              subcategory: subcategory.last)
          - else
            %li{class: category_active?(category)}
              = link_to category, news_index_path(category: category)
    / /.navbar-collapse
  / /.container-fluid
