.row
  .white-block
    - @news_posts.each do |post|
      = link_to news_path(post) do
        = image_tag post.logo_url, class: "image-responsive"
        %h3.news-posts-title= post.title
        %br/
%br/
