.row
  .col-md-7
    = render "news/form", url: news_path
%br/
.row
  .col-md-12
    .embed-responsive.embed-responsive-16by9
      - if @post.link.blank?
        %iframe.embed-responsive-item{ :src => "#{news_path(@post)}", :frameborder => "0" }
      - else
        %iframe.embed-responsive-item{ :src => "http://#{@post.link}", :frameborder => "0" }
%br/
= @post.link
