.row
  .col-md-7
    = render "news/form", url: news_path
    %br/
    = @post.link
%br/
%br/
.row
  .col-md-12
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{ :src => "https://#{@post.link}", :frameborder => "0" }
