<div class="row news">
  <div class="col-lg-8 col-lg-offset-2  col-md-10 col-md-offset-1">

    <%= render @posts %>

    <div class="text-center">
      <%= paginate @posts, :theme => 'twitter-bootstrap' %></span>
    </div>

  </div>
</div>
