.row
  .white-block
    .panel.panel-default
      .panel-heading
        %strong Правила раздела "Новости"
      .panel-body
        %p
          Раздел новости создан, чтобы мы могли объявлять о различных событиях, акциях,
          проектах… одним словом новостях. Убедительная просьба не добавлять сюда
          объявления, которые лучше подойдут в один из других разделов.

        %p
          Ваш цветочный магазин объявляет скидку на цветы к 8 марта?
          Запускаете новый интересный проект и вам нужны единомышленники?
          Ваша тур фирма предлагает горячие путевки?
          Этот раздел создан именно для таких  новостей.
          Добавляйте новость и получайте доступ к самому большому комьюнити наших в США.
