.row
  .col-xs-12
    .row
      .white-block
        .panel.panel-default
          .panel-heading
            %strong Примечание
          .panel-body
            %p
              Раздел новости создан, чтобы мы могли объявлять о различных событиях, акциях,
              проектах… одним словом новостях. Убедительная просьба не добавлять сюда
              объявления, которые лучше подойдут в один из других разделов.

