- breadcrumb :edit_dashboard_post_path, current_user || 1, @post
- content_for :sidebar, render("dashboard/shared/menu")

= render "dashboard/shared/mob_menu"

= render "form"

- if current_user.try(:editor?)
  = link_to @post.link, site_link(@post.link), target: "_blank", rel: "nofollow"
