/ Modal
#jobAgenciesSearch.modal.fade{ "aria-labelledby" => "myModalLabel",
                           :role => "dialog",
                           :tabindex => "-1" }
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Расширенный поиск

      .modal-body
        %form.form-horizontal{action: ezjob_job_agencies_path, method: :get}
          = render "shared/search_by_address"
          %hr/
          .row
            .col-xs-6
              = link_to "Сбросить",
                ezjob_job_agencies_path,
                class: "btn btn-block mobile-btn"
            .col-xs-6
              = submit_tag "Фильтроваить", name: nil, class: "btn btn-block mobile-btn"
