= title("Подать бесплатное объявление - Работа в США - ezpoisk")
= desc("Разместить объявление о работе бесплатно и без регистрации: Нью Йорк, Сан Франциско, Лос Анджелес, Майами. Множество вакансий")

= render 'dashboard/shared/new', title: "Подать бесплатное объявление в раздел 'Работа | #{t params[:category]}'"
