- breadcrumb :new_dashboard_job_path, current_user || 1
= title("Подать бесплатное объявление - Работа в США - ezpoisk")
= desc("Разместить объявление о работе бесплатно и без регистрации: Нью Йорк, Сан Франциско, Лос Анджелес, Майами. Множество вакансий")

= render 'dashboard/shared/new'
