/ Modal
#commercialSearch.modal.fade{ "aria-labelledby" => "myModalLabel",
                           :role => "dialog",
                           :tabindex => "-1" }
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Расширенный поиск

      .modal-body
        = render "re_commercials/search_form"
