%nav.navbar.navbar-default.secondary-navbar.white-block
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{ "aria-expanded" => "false",
                                       "data-target" => "#dashboard-nav-bar",
                                       "data-toggle" => "collapse",
                                       :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    / Collect the nav links, forms, and other content for toggling
    #dashboard-nav-bar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - HOROSCOPE_CATEGORIES.each do |title|
          %li{:class => ("active" if cp(horoscopes_path(title: title)))}
            = link_to title, horoscopes_path(title: title)
    / /.navbar-collapse
  / /.container-fluid
