.col-md-8.col-xs-12
  = render "dashboard/shared/edit",
           record: @re_private,
           template: 'dashboard/re_privates/re_private'

  = link_to 'Удалить',
            dashboard_re_private_path(@re_private),
            method: :delete,
            data: { confirm: I18n.t(:confirm) },
            class: "btn btn-block mobile-btn btn-danger"
