/ Modal
#re-finance-search.modal.fade{ "aria-labelledby" => "myModalLabel",
                           :role => "dialog",
                           :tabindex => "-1" }
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Расширенный поиск

      .modal-body
        = render 'real_estate/re_finances/search_form'
      / model body

      / footer
      .modal-footer
        .row
          .col-xs-6
            = link_to "Сбросить",
              real_estate_re_agencies_path,
              class: "btn btn-block mobile-btn"
          .col-xs-6
            = submit_tag "Фильтровать", name: nil, class: "btn btn-block mobile-btn"
