/ Button trigger modal
%a.btn.btn-primary{"data-target" => "#commercialSearch", "data-toggle" => "modal", :role => "button"}
  Расширенный поиск
/ Modal
#commercialSearch.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Расширенный поиск
        %hr.post-devider/
        .row
          .col-md-4.col-sm-4
            %a Всего {{model.meta.total_posts}}
          .col-md-4.pull-right
            {{params-sort options=sortOptions paramValue=sortType sortDesc=sortDesc}}
      .modal-body
        {{state-select state_id=state_id}}
        %br/
        {{city-select state_id=state_id city_ids=city_ids multiple=true}}
        %br/
        .row
          .col-md-6.col-sm-6
            {{select-2 content=categories value=category optionValuePath="id" placeholder="Категория" }}
            %br/
            {{select-2 content=minPriceTypes value=min_price optionValuePath="id" placeholder="$ minimum" }}
            %br/
            {{select-2 content=spaceOptions value=min_space optionValuePath="id" placeholder="Площадь" }}
            %br/
          .col-md-6.col-sm-6
            {{select-2 content=postTypes value=postType optionValuePath="id" placeholder="Тип" }}
            %br/
            {{select-2 content=maxPriceTypes value=max_price optionValuePath="id" placeholder="$ maximum" }}
            %br/
      .modal-footer
        %a.btn.btn-danger.pull-left{:href => "/real_estate/commercial"} Сброс
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Поиск
