.row
  / -----------------------------------------------------------------
  / CONTENT
  / -----------------------------------------------------------------
  .col-lg-9.col-md-9
    .row
      %h4.pull-right
        %a
          Всего #{@re_commercials.size}
      = render 'real_estate/re_commercials/search'
    .row
      %hr/
      = render @re_commercials
    .row
      %hr/
      .text-center
        = paginate @re_commercials, :theme => 'twitter-bootstrap-3'
      %hr/
  / -----------------------------------------------------------------
  / // CONTENT
  / -----------------------------------------------------------------
  / -----------------------------------------------------------------
  / PARTNERS
  / -----------------------------------------------------------------
  .col-lg-3.col-md-3.hidden-sm.hidden-xs
    / <img src="http://placehold.it/600x400" alt="some picture" class="img&#45;responsive center&#45;block">
    / <br>
    / <img src="http://placehold.it/600x400" alt="some picture" class="img&#45;responsive center&#45;block">
    / <br>
    / <img src="http://placehold.it/600x400" alt="some picture" class="img&#45;responsive center&#45;block">
    / <br>
    / <img src="http://placehold.it/600x400" alt="some picture" class="img&#45;responsive center&#45;block">
    / <br>
  / -----------------------------------------------------------------
  / // PARTNERS
  / -----------------------------------------------------------------
