#portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2
              %span.orange EZ
              %span.blue ANSWER
            %p.item-intro.text-muted Цель - создать базу достоверных ответов на часто задаваемые вопросы.
            -# = link_to questions_path, target: "_blank" do
            -#   = image_tag "about/portfolio/roundicons-free", class: " img-responsive img-centered"
            %p
              Мы уверены, что одни и те же вопросы задются разными людьми снова и снова.
              Будь-то "Как снять квартиру в Нью Йорке", "Как заполнить какую-нибудь форму?",
              "Что стоит знать путшествуя по США?" или "Где на Брайтоне самые вкусные пирожки?" -
              все это вопросы, которые задаются адвокатам, риелторам, друзьями и незнакомцам снова
              и снова. Мы стремимся создать платформу, где пользователи смогут получать информацию
              из первых уст. Если это вопрос об иммиграции, документах и визах -
              на него должен отвечать профессиональный адвокат - не кто-нибудь.
              Если вас интересует недвижимость, не стоит прислушиваться к советам делитантов,
              Качественно вам сможет помочь только челевек с опытом в этой сфере.
            %p
              %strong> Если у вас есть вопросы или же вы, напротив, предоставляете какие-либо услуги, заходите на
              %nbsp
              = link_to "EZANSWER", questions_path, target: "_blank"
              %nbsp
              и делитесь вашим опытом, да и потом - лишняя реклама кому повредит?
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Закрыть
