#portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2
              %span.orange EZ
              %span.blue REALTY
            %p.item-intro.text-muted Цель - облегчить поиск жилья для русских в америке
            -# = link_to re_privates_path, target: "_blank" do
            -#   = image_tag "about/portfolio/escape-preview", class: "img-responsive img-centered"
            %p
              = link_to "EZREALTY", re_privates_path, target: "_blank"
              \- это место, где все желающие могут размещать
              свои объявления о сдаче жилья в аренду, продаже, или его поисках.
              Здесь можно найти хорошее агентство недвижимости в вашем городе, где
              говорят по-русски. Ознакомиться с компаниями, предоставляющими услуги
              по финансированию, или подыскать офис для вашего бизнеса.
              Мы стремимся улучшать сайт, поэтому если у вас есть замечания по исполнению,
              пожалуйста пишите нам, мы будем очень рады вашему участию.
            %p
              Перейти в раздел можно
              = link_to "сюдой.", re_privates_path, target: "_blank"
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Закрыть
