#portfolioModal6.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2
              %span.orange EZ
              %span.blue NEWS
            %p.item-intro.text-muted Всегда что-то новеньке почитать
            -# = link_to posts_path, target: "_blank" do
            -#   = image_tag "about/portfolio/dreams-preview", class: "img-responsive img-centered"
            %p
              Раздел новости призван дать возможность всем нам объявлять на всю
              общину обо всем, что нам кажется, того стоит.
              Ваша компания проводит акцию? Вы проводите гараж-сэил?
              Запускаете интересный проект и ищете единомышленников?
              Объявите об этом на главной странице и тысячи пользователей узнают об этом.
            %p
              = link_to "EZNEWS", posts_path, target: "_blank"
              \- Будет интересно !
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Закрыть
