#portfolioModal3.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2
              %span.orange EZ
              %span.blue JOB
            %p.item-intro.text-muted Цель - облегчить поиск работы в разных городах США
            = link_to ezjob_job_agencies_path, target: "_blank" do
              = image_tag "about/portfolio/treehouse-preview", class: "img-responsive img-centered"
            %p
              Поиск работы порой бывает достаточно турдной задачей. Мы попытались сделать страницу -
              куда было бы легко добавлять объявления и где, так же легко, можно было их искать.
              Мы надеемся что вы найдете ее полезной
              Перейти в раздел можно по
              = link_to "этой ссылке", ezjob_job_agencies_path, target: "_blank"
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Закрыть
