/ Button trigger modal
%a.btn.btn-primary{"data-target" => "#pirvateSearch", "data-toggle" => "modal", :role => "button"}
  Настроить фильтр

/ Modal
#pirvateSearch.modal.fade{ "aria-labelledby" => "myModalLabel",
                           :role => "dialog",
                           :tabindex => "-1" }
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Расширенный поиск

      .modal-body
        = render 'jobs/jobs/search_form'
      / model body

      / footer
      .modal-footer
        = link_to "Сброс",
          jobs_jobs_path,
          class: "btn btn-danger pull-left"
        = submit_tag "Поиск", name: nil, class: "btn btn-primary"
