.hidden-xs
  = render 'dashboard/jobs/job', job: @job

%div
  / Nav tabs
  %ul.nav.nav-tabs{:role => "tablist"}
    %li{:role => "presentation"}
      %a{"aria-controls" => "description", "data-toggle" => "tab", :href => "#description", :role => "tab"} Описание
    %li{:role => "presentation"}
      %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#contacts", :role => "tab"} Контакты

  / Nav tabs
  %hr
    / Tab panes
    .tab-content
      #description.tab-pane.fade.in.active{:role => "tabpanel"}
        = raw @job.show_description

      #contacts.tab-pane.fade{:role => "tabpanel"}
        = render "shared/real_estate/contacts", post: @job
  %br/
