-# HOME NEWS POST
= link_to news_path(post) do
  .row.home-news-post
    .col-sm-4
      = image_tag post.logo_url(:small), class: "img-responsive"
    .col-sm-8
      %h2= post.title
      %p.text-muted= strip_tags(post.text).truncate(115)
