.row
  .col-sm-12.post-text
    %p.post-title.text-muted
      %span.post-time= post.created_at.strftime("%H:%M")
      - if current_user.try(:admin?)
        = link_to post.title, edit_news_path(post)
      - else
        = link_to post.title, news_path(post)
