.answers-menu-container {
  float: right;
  margin-right: -15px;
  min-width: 200px;
}

.answers-menu {
  list-style-type: none;
  -webkit-padding-start: 0;

  li.header {
    border-bottom: 1px solid $medium-gray;
    margin-bottom: 10px;
  }

  li.tag {
    a {
      display: inline-block;
      padding: 2px 5px;
      width: 100%;

      &:active,
      &:focus,
      &:hover {
        background-color: $light-gray;
        text-decoration: none;
      }
    }

    a.active {
      background-color: $light-gray;
    }
  }
}
