.answer {
  .btn-vote {
    background-color: transparent;
    border: 1px solid $blue;
    border-radius: 5px;
    color: $blue;
    font-size: 12px;
    font-weight: 500;
    padding: 1px 6px;
  }
}
