.article {
  overflow: hidden;
  background-color: $white;
  margin-bottom: 10px;

  .tags {
    margin: 0 10px;
    a {
      color: $medium-gray;
    }
  }

  .panel-heading {
    padding: 0 15px;
  }

  .author {
    margin-bottom: 0;
    margin-top: 5px;

    .name-block {
      padding-left: 0;

      .bio {
        display: block;
      }
    }

    .name {
      margin: 0;
      font-weight: 300;

      a {
        &:active,
        &:focus,
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .date {
      font-size: 12px;
    }
  }

  .panel-body {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .title {
    font-weight: 500;
    line-height: 1.25;
    margin: 5px 0;
    font-size: 16px;
  }

  .logo {
    margin-bottom: 5px;
  }

  .text {
    p {
      font-size: 15px;
    }
  }

  .comments {
    margin-bottom: 0;
  }
}
