.article {
  overflow: hidden;
  background-color: $white;
  margin-bottom: 10px;

  .tags {
    margin: 0 10px;
    a {
      color: $medium-gray;
    }
  }

  .panel-heading {
    padding: 0 15px;
  }

  .panel-body {
    padding-top: 5px;
  }

  .author {
    margin-bottom: 0;
    margin-top: 5px;

    .name-block {
      padding-left: 0;
    }

    .name {
      margin: 0;
      font-weight: 300;
    }

    .date {
      font-size: 12px;
    }
  }

  .title {
    font-weight: 500;
    line-height: 1.25;
    margin: 5px 0;
    font-size: 18px;
  }

  .comments {
    margin-bottom: 0;
  }
}
