.comments {
  margin-bottom: $large-spacing;
}

@media(max-width:767px){
  .comment .col-xs-1 {
    padding-right: 10px;
  }
}

.comment {
  margin-bottom: 5px;
  font-size: 13px;

  .avatar {
    max-width: 32px;
    vertical-align: top;
    margin-right: 5px;
  }

  .content {
    width: calc(100% - 40px);
    display: inline-block;
  }

  textarea {
    height: 32px;
    resize: none;
    padding: 5px 10px;
  }

  .name {
    padding-right: 5px;
  }

  .form-group {
    margin-bottom: 0;
  }
}
