@media(max-width:767px){
  .comment .col-xs-1 {
    padding-right: 10px;
  }
}

.comment {
  margin-bottom: 5px;
  font-size: 13px;

  .col-xs-1 {
    padding: 0;
  }
  .col-xs-11 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .avatar {
    max-width: 32px;
  }

  textarea {
    height: 32px;
    resize: none;
    padding: 5px 10px;
  }

  .name {
    padding-right: 5px;
  }
  .form-group {
    margin-bottom: 0;
  }

  .respond {
    cursor: pointer;
  }
}
