.credentials {
  ul {
    margin-bottom: 30px;

    li {
      border-bottom: 1px solid $gray;
      margin-bottom: 5px;

      .fa-li {
        line-height: 22px;
      }

      .text {
        display: block;
        line-height: 16px;
      }

      .dates {
        display: block;
      }
    }
  }

  .skills {
    padding: 0 30px;
    li {
      border-bottom: 0;
    }
  }
}
