.dashboard-drawer {
  height: 100vh;
  background-color: $dark-gray;

  .drawer-header {
    color: $white;
    padding: 16px;

    .avatar {
      border-radius: 25px;
      margin-right: 10px;
    }
  }

  .nav-link {
    padding: 15px;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;

    &:hover {
      background-color: #00BCD4;
      color: #37474F;
    }

    .material-icons {
      font-size: 24px;
      color: rgba(255, 255, 255, 0.56);
      margin-right: 32px;
    }
  }
}
