.listing {
  background-color: $white;
  margin-bottom: 10px;
  padding: 5px;

  .logo {
    max-width: 180px;
  }

  .mdl-button--icon .material-icons {
    top: 45%;
    left: 45%;
  }

  .top {
    border: thin solid $light-gray;
    border-radius: 3px;
    color: $yellow;
    font-size: 14px;
    font-weight: normal;
    padding: 1px 5px;
  }

  .post-devider {
    margin: 2px 0;
  }

  i {
    margin: 2px;
  }

  .title {
    margin-bottom: 5px;
    margin-top: 0;

    @media(max-width: $screen-sm) {
      margin-top: 10px;
    }

    a {
      color: $dark-gray;

      &:hover {
        color: $orange;
      }
    }
  }

  p.text {
    margin: 5px 0;
  }
}

.listing.featured {
  margin-bottom: 20px;
}
