.listing {
  background-color: $white;
  border: 1px solid $light-gray;
  margin-bottom: 10px;
  padding: 5px;

  .mdl-button--icon .material-icons {
    top: 45%;
    left: 45%;
  }

  .top {
    margin-right: 5px;
    border: thin solid $bright-orange;
    border-radius: 2px;
    color: $bright-orange;
    font-size: 14px;
    font-weight: normal;
    padding: 1px 5px;
  }

  .post-devider {
    margin: 2px 0;
  }

  i {
    margin: 2px;
  }

  .title {
    margin-bottom: 5px;
    margin-top: 0;

    @media(max-width: $screen-sm) {
      font-size: 14px;
    }

    a {
      color: $dark-gray;

      &:hover {
        color: $orange;
      }
    }

    .featured {
      color: $bright-orange;
      border: 1px solid $bright-orange;
      font-weight: 400;
      margin-right: 5px;
      padding: 1px 3px;
      font-size: 16px;

      @media(max-width: $screen-sm) {
        font-size: 12px;
      }
    }
  }

  p.text {
    margin: 0px 0px 10px;
  }

  .logo-container {
    padding-right: 0;
    margin-right: -10px;

    .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-height: 100px;
    }
  }
}

.listing.featured {
  margin-bottom: 20px;
}
