.menu {
  margin-bottom: 10px;

  .fa {
    min-width: 25px;
  }

  .list-group {
    margin-bottom: 0;
  }

  .list-group-item {
    &:first-child {
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
    }
    &:last-child {
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }
}
