.navbar-main {
  $navbar-height: 50px;

  background-color: $white;
  height: $navbar-height;

  .nav-link {
    display: inline-block;
  }

  .nav-link > a {
    line-height: $navbar-height;
    padding: 13px 10px;

    &:first-child {
      padding-right: 20px;
    }
  }

  .avatar {
    max-height: 40px;
  }

  .fa {
    color: $orange;
  }
}
