.navbar-main {
  $navbar-height: 50px;

  background-color: $white;
  height: $navbar-height;

  .burger {
    -webkit-padding-start: 0;
  }

  .nav-link {
    display: inline-block;

    .btn-ez {
      padding: 5px 10px;
    }
  }

  .nav-link > a {
    line-height: $navbar-height;
    padding: 13px 10px;
  }

  .avatar {
    max-height: 40px;
  }

  .fa {
    color: $orange;
  }

  .search-box {
    margin: -5px 0;

    .material-icons { color: $medium-gray; }
  }

  @media(max-width: $screen-sm) {
    .search-box.is-focused ~ .links {
      opacity: 0;
    }
  }
}
