.session {
  .title {
    text-align: center;

    span {
      color: $orange;
    }
  }

  .buttons {
    list-style-type: none;
    padding: 0 15px;

    li {
      margin-bottom: 5px;

      a {
        color: $white;
        display: block;
        font-size: 14px;
        outline: none;

        i {
          float: left;
          line-height: 22px;
        }
      }
    }
  }
}
