.session {
  min-height: 400px;

  .buttons {
    list-style-type: none;
    max-width: 300px;
    margin: 25px auto;
    padding: 5px;

    li {
      margin-bottom: 10px;

      a {
        color: $white;
        display: block;
        font-size: 14px;
        outline: none;

        i {
          float: left;
          line-height: 22px;
        }
      }
    }
  }
}
