.partner-left,
.partner-right,
.partner-inserted {
  // background-color: $white;
  // border: 1px solid $medium-gray;
  margin-bottom: 20px;
  color: $dark-gray;
}

.partner-top {
  margin-bottom: 15px;

  .legend {
    color: $dark-gray;
  }
}

.partner-left,
.partner-right {
  max-width: 200px;

  h5 {
    margin-bottom: 0;
  }
  .title {
    color: $dark-gray;
  }
  .site {
    color: $medium-gray;
  }

  hr {
    margin: 5px 0;
  }
}

.partner-right {

}

.partner-inserted {

}
