.partner-top {
  margin: 0 15px 15px;
  text-align: center;

  a {
    font-size: 15px;
    font-weight: 600;

    .subline {
      color: $dark-gray;
    }
  }
}


.partner-left,
.partner-right {
  background-color: $white;
  border: 1px solid $light-gray;
  margin-bottom: 20px;
  color: $dark-gray;
  overflow: hidden;

  .image {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.partner-left,
.partner-right,
.partner-inline {
  a {
    text-decoration: none;
  }

  .body {
    .headline {
      color: $dark-gray;
    }

    .subline,
    .text {
      color: $dark-gray;
      font-weight: normal;
    }

    hr {
      margin: 5px 0;
    }
  }
}

.partner-left,
.partner-right {
  .body {
    padding: 5px;
  }
}

.partner-left {
  float: right;
  margin-right: -15px;
  width: 200px;
}

.partner-right {
  margin-left: -15px;
  margin-right: -15px;
}

.partner-inline {
  border: 0;
}
