.right-widget {
  margin-left: -15px;
  margin-right: -15px;

  .list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .item {
      border-bottom: 1px solid $gray;
      margin-bottom: 5px;

      .title {
        font-size: 14px;
        display: block;
        line-height: 15px;
        color: $black;
      }
      .time {
        color: $medium-gray;
      }
    }
  }

  .more {
    margin: 0 0 2px;
  }
}
