.side_post.mdl-card {
  width: 300px;
  height: 280px;
  margin-bottom: 10px;

  a {
    text-decoration: none;
  }
}

.side_post > .mdl-card__title {
  color: $white;
  padding: 10px;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #46B6AC;
}

.side_post .mdl-card__title-text {
  padding: 10px;
  a {
    text-decoration: none;
    color: $white;
  }

  &:hover {
    background-color: rgba(145, 181, 211, 0.84);
    transition: background-color $base-duration $base-timing;
  }
}
