.summernote-container {
  .note-editor {
    border: 0;
  }

  .panel-heading {
    background: $white;
    text-align: center;
  }

  p {
    font-size: 15px !important;
  }

  img[style*='float: left'] {
    margin-right: 10px;
  }

  img[style*='float: right'] {
    margin-left: 10px;
  }
}
