<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  <% if user_signed_in? %>
    <strong><%= current_user.email %></strong>
  <% else %>
    Панель управления
  <% end %>
  <span class="caret"></span>
</a>

<ul class="dropdown-menu">
  <% if !user_signed_in? %>
    <li><a href="/users/sign_in">Войти</a></li>
    <li><a href="/users/sign_up">Регистрация</a></li>
    <li role="separator" class="divider"></li>
  <% end %>
  <li><a href="/dashboard">Подать обьявление</a></li>
  <li><a href="/dashboard">Аккаунт</a></li>
  <% if user_signed_in? %>
    <li role="separator" class="divider"></li>
    <li><a href="/users/sign_out">Выход</a></li>
  <% end %>
</ul>
