%a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
  Продается
  %span.caret
%ul.dropdown-menu
  %li
    %a{:href => "/items/posts"} Все
  %li
    %a{:href => "/items/posts?category=auto"} Транспорт
  %li
    %a{:href => "/items/posts?category=home"} Для дома
  %li
    %a{:href => "/items/posts?category=for_kids"} Для детей
  %li
    %a{:href => "/items/posts?category=clothes"} Одежда
  %li
    %a{:href => "/items/posts?category=electronics"} Электроника
  %li
    %a{:href => "/items/posts?category=pets"} Домашние животные, растения
  %li
    %a{:href => "/items/posts?category=sale"} Распродажа
