<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  Продается <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li><a href="/items/posts">Все</a></li>
  <li><a href="/items/posts?category=auto">Транспорт</a></li>
  <li><a href="/items/posts?category=home">Для дома</a></li>
  <li><a href="/items/posts?category=for_kids">Для детей</a></li>
  <li><a href="/items/posts?category=clothes">Одежда</a></li>
  <li><a href="/items/posts?category=electronics">Электроника</a></li>
  <li><a href="/items/posts?category=pets">Домашние животные, растения</a></li>
  <li><a href="/items/posts?category=sale">Распродажа</a></li>
</ul>
