%a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
  Работа
  %span.caret
%ul.dropdown-menu
  %li
    %a{:href => "/jobs/agencies"} Агенства
  %li
    %a{:href => "/jobs/posts?section=wanted"} Работа - требуется
  %li
    %a{:href => "/jobs/posts?section=looking"} Работа - ищу
