<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
Работа <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li><a href="/jobs/agencies"> Агенства </a></li>
  <li><a href="/jobs/posts?section=wanted"> Работа - требуется </a></li>
  <li><a href="/jobs/posts?section=looking"> Работа - ищу </a></li>
</ul>
