<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
Недвижимость <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
    <%= link_to "Агенства", real_estate_re_agencies_path %>
  </li>
  <li>
    <%= link_to "Частная", real_estate_re_privates_path %>
  </li>
  <li><a href="/real_estate/commercial">Коммерческая</a></li>
  <li><a href="/real_estate/openhouses">Open house</a></li>
  <li><a href="/real_estate/posts">Блог</a></li>
</ul>
