<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
Недвижимость <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li><a href="/real_estate/agencies">Агенства</a></li>
  <li><a href="/real_estate/private">Частная</a></li>
  <li><a href="/real_estate/commercial">Коммерческая</a></li>
  <li><a href="/real_estate/openhouses">Open house</a></li>
  <li><a href="/real_estate/posts">Блог</a></li>
</ul>
