<li class="dropdown">
  <%# render 'shared/navbar/real_estate' %>
</li>

<li class="dropdown">
  <%# render 'shared/navbar/jobs' %>
</li>

<li class="dropdown">
  <%# render 'shared/navbar/services' %>
</li>

<li class="dropdown">
  <%# render 'shared/navbar/for_sale' %>
</li>

<li><a href="/news">Новости</a></li>

<li class="dropdown">
  <%= render 'shared/navbar/dashboard' %>
</li>
