%a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
  Услуги
  %span.caret
%ul.dropdown-menu
  %li
    %a{:href => "/services/posts?category=lawers"} Адвокаты
  %li
    %a{:href => "/services/posts?category=auto"} Авто
  %li
    %a{:href => "/services/posts?category=education"} Образование
  %li
    %a{:href => "/services/posts?category=medicine"} Медицина
  %li
    %a{:href => "/services/posts?category=cosmetology"} Косметология
  %li
    %a{:href => "/services/posts?category=construction"} Строительные работы
  %li
    %a{:href => "/services/posts?category=repair"} Ремонт
  %li
    %a{:href => "/services/posts?category=other"} Другие услуги
