<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  Услуги <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li><a href="/services/posts?category=lawers">Адвокаты</a>                 </li>
  <li><a href="/services/posts?category=auto">Авто</a>                       </li>
  <li><a href="/services/posts?category=education">Образование</a>           </li>
  <li><a href="/services/posts?category=medicine">Медицина</a>               </li>
  <li><a href="/services/posts?category=cosmetology">Косметология</a>        </li>
  <li><a href="/services/posts?category=construction">Строительные работы</a></li>
  <li><a href="/services/posts?category=repair">Ремонт</a>                   </li>
  <li><a href="/services/posts?category=other">Другие услуги</a>             </li>
</ul>
