// todo find 'em and set the rule on elements
.margin-bottom-10 {
  margin-bottom: 10px;
}

.white-block {
  background-color: $white;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 2px;
}

.vk-bg {
  background-color: $btn-vk;
}

.facebook-bg {
  background-color: $btn-fb;
}

.google-bg {
  background-color: $btn-gl;
}
