.answer {
  .author {
    margin-bottom: 0;
    margin-top: 0;

    .name {
      margin: 0;
    }
  }

  .title {
    font-weight: bold;
    letter-spacing: -.5px;
    line-height: 1.25;
    margin: 0;

    a {
      color: #333;
      text-decoration: none;
    }
  }

  .panel-body {
    padding-top: 5px;
  }

  .fa {
    min-width: 0;
  }
}

.other-answers {
  margin-bottom: 30px;
}
