.article {
  overflow: hidden;

  .author {
    margin-bottom: 0;
    margin-top: 5px;

    .name-block {
      padding-left: 0;
    }

    .name {
      margin: 0;
      font-weight: 300;
    }

    .date {
      font-size: 12px;
    }
  }

  .title {
    font-weight: 500;
    line-height: 1.25;
    margin: 5px 0;
    font-size: 18px;
  }

  .panel-heading {
    padding: 0 15px;
  }

  .panel-body {
    font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 15px;
    padding-bottom: 0;
    padding-top: 5px;
  }

  .post-body img {
    padding: 10px;
  }

  p { margin: 0 0 5px; }
}
