.container.charge {
  .white-block { border-radius: 10px; }
  .price {
    color: $orange;
    margin: 30px;

    .fa-dollar {
      vertical-align: top;
      font-size: 30px;
    }
    .amount {
      font-family: monospace;
      font-size: 80px;
      line-height: 60px;
      font-weight: 900;
    }
  }
  span.weeks {
    font-size: 14px;
    display: block;
    margin-bottom: 30px;
  }
  span.period {
    font-size: 14px;
    display: block;
    margin-bottom: 20px;
  }
}
