.comments {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: $grey0;
}

.comment-panel {
  margin-bottom: 10px;
}

.comment-panel > .panel-heading {
  padding-top: 0px;
  padding-bottom: 0px;
}

.comment-panel > .panel-body {
  padding-top: 5px;
  padding-bottom: 0px;
}
