.comments-section {
  padding: 5px;

  h5 {
    display: inline-block;
  }
}

.comments-container {
  padding: 5px;
  .comment-nav {
    margin-bottom: 5px;
    a {
      font-size: 10px;
      font-weight: bold;
      color: #888;
    }
  }
}

.comments-container > .comments-show {
  margin-left: 0;
}

.reply-form {
  display: none;
}

.comments-show {
  margin-left: 15px;
}

.new_comment {
  .form-group {
    margin-bottom: 0;
  }
}

.comment {
  background-color: $white;
  border-radius: 2px;
  margin-bottom: 3px;
  padding: 2px;

  .panel {
    border-radius: 0;
  }

  .panel-heading {
    padding: 5px;
  }

  .panel-body {
    padding: 5px;

    p {
      margin-bottom: 3px;
    }
  }
}
