.posts {
  padding-right: 0px;
}

td.users-post {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.article-img {
  height: 120px;
}

.article:hover {
  opacity: 0.7;
}

hr.lenta {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 5px solid #eeeeee;
}

h1.lenta-title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0px;
}
