.home-sidebar > li {
  a {
    font-size: 15px;
    padding: 5px 15px;
  }
  span.glyphicon {
    padding-right: 5px;
  }
}

.main-post {
  padding-bottom: 10px;
  border-radius: 4px;
}

.main-title {
  font-family: 'Lora', 'Times New Roman', serif;
  font-weight: bold;
}

.main-text {
  padding-left: 0px;
  padding-right: 0px;
}
.main-image {
  padding-right: 0px;
}

.posts {
  padding: 10px 30px;
}
