
.home-sidebar > li:hover {
  background-color: $lightgrey;
}
.home-sidebar > li {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  a {
    display: inline;
  }
  span.glyphicon {
    padding-right: 5px;
    color: black;
  }
}

.main-post {
  padding-bottom: 10px;
}

.main-title {
  font-family: 'Lora', 'Times New Roman', serif;
  font-weight: bold;
}

.main-text {
  padding-left: 0px;
  padding-right: 0px;
}
.main-image {
  padding-right: 0px;
}

.posts {
  padding: 10px 30px;
}
