.job-categories {
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: $lightgrey;
  }

  .nav-tabs > li > a {
    margin-right: 0;
  }

  .dropdown {
    border: 1px solid $lightgrey;
    width: 100%;

    a {
      color: $grey3;
      padding: 6px 15px;
    }
  }

  .dropdown-menu {
    left: 250px;
    max-height: 600px;
    min-width: 600px;
    overflow: scroll;
    top: -400px;
  }
}
