// navbar
.mobile-navbar {
  background-color: $white;

  .mobile-brand-image {
    margin-top: 8px;
    max-width: 110px;
  }
}

// tabs
.mobile-nav-tabs > li {
  width: 50%;

  a { padding: 5px; }
}

.mobile-btn {
  background-color: transparent;
  border: 2px solid $blue;
  border-radius: 0;
  color: $blue;
  font-size: 12px;
  height: 30px;
  padding: 4px 12px;
}


.mobile-back-btn {
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-btn-new { margin-top: 8px; }
.mobile-search { text-align: right; }
.float-right { float: right; }
.indented { padding-left: 30px; }

.mobile-footer {
  background-color: $body_background_color;
  margin-top: 10px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.mobile-link {
  color: $grey3;
  li:active { background-color: $body_background_color; }
}

.downloading {
  max-height: 200px;
}
