// navbar
// tabs
.mobile-nav-tabs > li {
  width: 50%;

  a { padding: 5px; }
}

.mobile-btn-new {
  margin-top: 10px;
  margin-right: 15px;
}

.mobile-search { text-align: right; }
.indented { padding-left: 30px; }

.mobile-link {
  color: $grey3;
  li:active { background-color: $body_background_color; }
}

.downloading {
  max-height: 200px;
}
