// index
.post {
  margin-bottom: 10px;
}

.post:hover {
  opacity: 0.7;
}

h2.news-posts-title {
  margin-top: 0px;
  color: black;
  font-family: Georgia,Times,"Times New Roman",serif;
  line-height: 1.4;
  font-size: 18px;
}
h2.news-main-post-title {
  margin-top: 0px;
  color: black;
  font-family: Georgia,Times,"Times New Roman",serif;
  line-height: 1.4;
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
}
p.news-main-caption-text{
  font-family: Georgia,Times,"Times New Roman",serif;
  background-color: white;
  font-size: 16px;
  padding: 16px;
}

// show

h1.news-post-show-title {
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 24px;
  letter-spacing: -0.5px;
  line-height: 1.25;
  font-weight: bold;
  margin-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
.news-post-show-text {
  padding: 10px;
}

h5.caption {
  padding: 5px;
  color: black;
  a { text-decoration: none; }
}
