.partner {
  padding: 0 5px;
  &:hover {
    background-color: $white;
  }

  a { text-decoration: none; }
  .text { color: $black; }

  .title {
    color: $darkblue;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 3px;
  }

  hr {
    margin-top: 5px;
    margin-bottom: 0;
    border-top: 1px solid $grey;
  }
}
