.post-devider {
  margin-top: 0px;
  margin-bottom: 5px;
}

.post-title {
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: 'Lora', 'Times New Roman', serif;
  font-weight: bold;
}

.post-text {
  padding: 0px 0px;
}
