.post-devider {
  margin-top: 0px;
  margin-bottom: 5px;
}

.post-title {
  margin-bottom: 5px;
  margin-top: 0px;
  font-family: 'Lora', 'Times New Roman', serif;
  font-weight: bold;
}

.post-text {
  padding: 0px 0px;
}

.post-image {
  padding-left: 0px;
}
.post-important {
  background-color: $heavygrey;
  border-radius: 4px;
  img {
    padding: 10px 0px;
  }
}
