.post {
  .title {
    a {
      color: $grey4;
      text-decoration: none;
    }
  }
  overflow: hidden;
  .author {
    .name {
      margin: 0;
    }
  }
  .post-body {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
