.profile {
  .social {
    i {
      margin: 14px;
    }
  }

  .map {
    padding: 0
  }

  .gallery-thumb {
    margin: 1px;
    max-width: 136px;
    display: inline;
  }
}

.cover {
  margin-bottom: 30px;

  .left {
    padding: 0;
    position: relative;
    overflow: hidden;

    .background {
      background-position: center center;
      height: 400px;

      -webkit-filter: blur(13px);
      -moz-filter: blur(13px);
      -o-filter: blur(13px);
      -ms-filter: blur(13px);
      filter: blur(13px);
      transform: scale(1.1);
    }

    .content {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

      img {
        margin-top: 50px;
        margin-bottom: 15px;
        max-width: 100px;
      }

      .name {
        color: $white;
        font-family: Roboto, arial, sans-serif;
        font-size: 22px;
        letter-spacing: 1px;
      }
      .views {
        color: $white;
        font-family: Roboto, arial, sans-serif;
        font-size: 14px;
      }
    }
  }

  .right {
    padding: 0;
  }

  .mobile-btn {
    color: $white;
    margin: 10px;
  }
}

.profile-sidebar {
  .panel-default {
    border: 0;
  }

  .panel-body {
    padding: 0;
  }

  .list-group {
    margin: 0;
  }

  a {
    color: $grey3;
    text-decoration: none;
  }
}
