.qa-links {
  padding-left: 15px;
}
.qa-avatar {
  padding: 0px
}
.qa-search {
  width: 650px;
  padding-left: 10px;
}

.question {
  background-color: white;
  margin-bottom: 10px;
}

h1.question-title {
  font-size: 24px;
  letter-spacing: -0.5px;
  line-height: 1.25;
  font-weight: bold;
  margin-top: 5px;
  a {
    text-decoration: none;
    color: #333;
  }
}
h3.question-author {
  font-size: 19px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.text {
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 18px;
  line-height: 1.4;
}

q.devider {
 margin-top: 10px;
 margin-bottom: 10px;
}

.answer {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
