#tag_cloud {
  line-height: 18px;
  margin-bottom: 20px;

  .s { font-size: 12px; }
  .m { font-size: 16px; }
  .l { font-size: 20px; }

  .tag-in-cloud {
    color: $grey3;
    font-family: Georgia,Times,"Times New Roman",serif;
  }
}

.side_question_title {
  font-family: 'open Sans', arial, sans-serif;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 5px;
}

.qa-link {
  margin: 5px;
}
