%nav.navbar.navbar-default.secondary-navbar.white
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{ "aria-expanded" => "false",
                                       "data-target" => "#dashboard-nav-bar",
                                       "data-toggle" => "collapse",
                                       :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to main_app.posts_path do
        = image_tag "logos/eznews", class: "img-responsive", id: 'brand-image'
    / Collect the nav links, forms, and other content for toggling
    #dashboard-nav-bar.collapse.navbar-collapse
      %form.navbar-form.navbar-left{role: "search", method: "get", action: posts_path}
        .input-group.qa-search
          %input.form-control{placeholder: "Поиск новостей по ключевым словам", type: "text", name: "keyword", value: params[:keyword]}
            %span.input-group-btn
              %button.btn.btn-default{type: "submit"}
                %i.fa.fa-search
