/ Button trigger modal
%a.btn.btn-primary{"data-target" => "#search", "data-toggle" => "modal", :role => "button"}
  Расширенный поиск
/ Modal
#search.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          Расширенный поиск
          %hr.post-devider/
          %a Всего {{model.meta.total_posts}}
      .modal-body
        .row
          .col-lg-12
            .form-group
              %label{:for => "state"} Штат
              {{state-select state_id=state_id}}
            .form-group
              %label{:for => "city"} Города
              {{city-select state_id=state_id city_ids=city_ids multiple=true}}
        %br/
      .modal-footer
        %a.btn.btn-danger.pull-left{:href => "/real_estate/agencies"} Сброс
        %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Поиск
