<div class="row">
  <!-- ----------------------------------------------------------------- -->
  <!-- CONTENT  -->
  <!-- ----------------------------------------------------------------- -->
  <div class="col-lg-9 col-md-9">
    <div class="row">
      <%= render 'real_estate/re_agencies/search.html.erb' %>
    </div>

    <div class="row">
      <%= render @re_agencies %>
    </div>

    <div class="row">
      <hr>
      <div class="text-center">
        <%= paginate @re_agencies, :theme => 'twitter-bootstrap-3' %></span>
      </div>
      <hr>
    </div>
  </div>
  <!-- ----------------------------------------------------------------- -->
  <!-- // CONTENT  -->
  <!-- ----------------------------------------------------------------- -->


  <!-- ----------------------------------------------------------------- -->
  <!-- PARTNERS  -->
  <!-- ----------------------------------------------------------------- -->
  <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
    <!-- <img src="http://placehold.it/600x400" alt="some picture" class="img&#45;responsive center&#45;block"> -->
    <!-- <br> -->
    <!-- <img src="http://placehold.it/600x400" alt="some picture" class="img&#45;responsive center&#45;block"> -->
    <!-- <br> -->
    <!-- <img src="http://placehold.it/600x400" alt="some picture" class="img&#45;responsive center&#45;block"> -->
    <!-- <br> -->
    <!-- <img src="http://placehold.it/600x400" alt="some picture" class="img&#45;responsive center&#45;block"> -->
    <!-- <br> -->
  </div>
  <!-- ----------------------------------------------------------------- -->
  <!-- // PARTNERS  -->
  <!-- ----------------------------------------------------------------- -->

</div>
