<%= render 'real_estate/re_agencies/re_agency', re_agency: @re_agency %>
<br>
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
        О Компании
      </a>
    </li>
    <li role="presentation">
      <a href="#contacts" aria-controls="messages" role="tab" data-toggle="tab">
        Контакты
      </a>
    </li>
  </ul>
  <!-- Nav tabs -->
  <hr>


  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane fade in active" id="home">
      <%= @re_agency.show_description %>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="contacts">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <%= render 'shared/contact', post: @re_agency %>
        </div>
      </div>
    </div>

  </div>
</div>
