= bootstrap_form_for([:dashboard, post]) do |f|
  .field
    = f.text_area :description,
                  rows: 5,
                  label: 'Описание',
                  class: "summernote"

  .actions
    = f.submit "Сохранить", class: "btn btn-primary"
  %br/
