%p
  *
  %strong
    Активно?
  Обьявление будет показано в поиске если оно активно и будет скрыто от пользователя
  в противном случае. Это сделано для того, что бы вы могли "включать и выключать"
  обьявление не удаляя и создавая его заново.
