%p
  %strong * Активно?
  Объявление будет показано в поиске, если оно активно, в противном случае -
  будет скрыто от пользователей. Это сделано для того, чтобы Вы могли
  "включать и выключать" объявление, не удаляя и создавая его заново.
