= bootstrap_form_for([:dashboard, record]) do |f|
  .field
    = f.text_area :description,
                  rows: 5,
                  label: 'Описание',
                  class: "summernote"

  .hidden-xs
    .actions
      = f.submit "Сохранить", class: "btn btn-primary", id: "description-save-btn"
  .visible-xs
    .actions
      = f.submit "Сохранить", id: "mob-description-save-btn", class: "btn mobile-btn btn-block"
  %br/
