.col-lg-6.col-md-8.col-sm-12
  %p Максимальный размер 5 Мб
  = form_for([:dashboard, record]) do |f|
    = f.file_field :logo
    %br/
    .actions
      = f.submit "Сохранить", class: "btn btn-primary"
    %br/
