.row
  = render "dashboard/re_commercials/upload_modal"
%br/
.row
  .col-lg-8
    %table.table
      %thead
        %tr
          %th{:colspan => "2"}
            %tbody.pictures
        = render @re_commercial.pictures
    %br/
