.img-thumbnail{:id => "picture-#{picture.id}"}
  = image_tag picture.image.url(:medium), class: "img-responsive"
  = link_to 'Сделать главной', dashboard_picture_path(picture), method: :put, remote: true
  = link_to 'Удалить', dashboard_picture_path(picture), method: :delete, data: { remote: true }
