p
  ads_here

/= link_to "Добавьте свой ответ", new_question_answer_path(@question), class: "btn mobile-btn btn-block margin-bottom-10"
/- if @question && @question.side_questions.any?
/  .white-block
/    .panel.panel-default.home-panel
/      .panel-body
/        ul.list-unstyled
/          - @question.side_questions.map do |q|
/            /h5= link_to q.title, q, class: "link"
/            h5.side_question_title= link_to q.title, q
/            span #{q.impressions_count} просмотров,
/            span #{q.answers_count} ответов
/            hr.devider
